LOG_LEVEL=DEBUG

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=Notify
POSTGRES_PORT=5432
DB_HOST=postgres_db


API_ID=24411757
API_HASH=29036e9e63cd027f50a0b56f0d68a7c0

ADMIN_BOT_TOKEN=
ADMIN_IDS=6821501603,1005928564

NOTIFICATION_BOT_TOKEN=1